.home-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home-corner-lines {
  div[class*='corner-line-'] {
    position: fixed;
    width: 120px;
    height: 1px;
    background-color: #FFF;
  }

  .corner-line-tl {
    top: 0;
    left: 0;
    transform: rotate(25deg);
    transform-origin: top left;
  }

  .corner-line-tr {
    top: 0;
    right: 0;
    transform: rotate(-25deg);
    transform-origin: top right;
  }

  .corner-line-br {
    bottom: 0;
    right: 0;
    transform: rotate(25deg);
    transform-origin: bottom right;
  }

  .corner-line-bl {
    bottom: 0;
    left: 0;
    transform: rotate(-25deg);
    transform-origin: bottom left;
  }
}

.home-side-label-container {
  position: fixed;
  top: 50%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transform: translate(0%, -50%) rotate(-90deg) translate(-50%, 200%);
  transform-origin: left;

  .side-label-text {
    display: inline-block;
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    font-size: 18px;
    letter-spacing: 1.7px;
    color: #FFF;
    text-transform: uppercase;
  }

  .side-label-line {
    display: inline-block;
    width: 80px;
    height: 1px;
    background-color: #FFF;
    margin-left: 15px;
  }
}

.about-container {
  background: linear-gradient(to bottom right, #21D4FD, #B721FF);

  .about-text-container {
    h1 {
      font-family: 'Poppins', sans-serif;
      font-weight: 200;
      font-size: 28px;
      letter-spacing: 2.5px;
      color: #FFF;
      text-transform: uppercase;
    }
  }
}

.work-container {
  background: linear-gradient(to bottom left, #48C6EF, #6F86D6);
}

.contact-container {
  background: linear-gradient(to bottom right, #868F96, #596164);
}
