.modal-message {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 14px;
  letter-spacing: 0.06rem;
  color: #3C3C3C;
}

.modal-bt-wrapper {
  width: 100%;
  text-align: center;
  margin-top: 20%;
}

.modal-close-bt {
  border: none !important;
  background-color: #3C3C3C;
  padding: 3px 15%;

  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 14px;
  letter-spacing: 0.08rem;
  color: #FFF;
}

.home-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home-corner-lines {
  div[class*='corner-line-'] {
    position: fixed;
    width: 120px;
    height: 1px;
    background-color: #FFF;
  }

  .corner-line-tl {
    top: 0;
    left: 0;
    transform: rotate(25deg);
    transform-origin: top left;
  }

  .corner-line-tr {
    top: 0;
    right: 0;
    transform: rotate(-25deg);
    transform-origin: top right;
  }

  .corner-line-br {
    bottom: 0;
    right: 0;
    transform: rotate(25deg);
    transform-origin: bottom right;
  }

  .corner-line-bl {
    bottom: 0;
    left: 0;
    transform: rotate(-25deg);
    transform-origin: bottom left;
  }
}

.home-side-label-container {
  position: fixed;
  top: 50%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transform: translate(0%, -50%) rotate(-90deg) translate(-50%, 200%);
  transform-origin: left;

  .side-label-text {
    display: inline-block;
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    font-size: 18px;
    letter-spacing: 1.7px;
    color: #FFF;
    text-transform: uppercase;
  }

  .side-label-line {
    display: inline-block;
    width: 80px;
    height: 1px;
    background-color: #FFF;
    margin-left: 15px;
  }
}

.home-random-shapes {
  position: fixed;
  width: 100%;
  height: 100%;

  .shapes-left-container {
    position: absolute;
    width: 50%;
    height: 100%;
    left: 0;
    padding-bottom: 8%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
  }

  .shapes-right-container {
    position: absolute;
    width: 50%;
    height: 100%;
    right: 0;
    padding-top: 8%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
  }
}

.about-container {
  background: linear-gradient(to bottom right, #21D4FD, #B721FF);

  .about-animation-container {
    display: inline-block;
    position: relative;
  }

  .diagonal-line-left {
    position: absolute;
    transform: translate(-120%, -120%);
    transform-origin: center;
  }

  .diagonal-line-right {
    position: absolute;
    right: 0;
    transform: translate(120%, 20%);
    transform-origin: center;
  }

  .about-text-container {
    h1 {
      font-family: 'Poppins', sans-serif;
      font-weight: 200;
      font-size: 28px;
      letter-spacing: 2.5px;
      color: #FFF;
      text-transform: uppercase;
    }
  }
}

.work-container {
  background: linear-gradient(to bottom left, #48C6EF, #6F86D6);

  .work-animation-container {
    display: inline-block;
    position: relative;
  }

  .work-diagonal-line-left {
    position: absolute;
    transform: translate(0%, -120%);
    transform-origin: center;
  }

  .work-diagonal-line-right {
    position: absolute;
    right: 0;
    transform: translate(0%, 20%);
    transform-origin: center;
  }

  .work-content-container {
    height: 50vh;
    width: 70vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;

    .work-heading-container {
      transform: translate(-160%, -100%) translate(0, -100px);;

      h1 {
        font-family: 'Poppins', sans-serif;
        font-weight: 200;
        font-size: 32px;
        letter-spacing: 0.12rem;
        color: #FFF;
        text-transform: uppercase;
      }
    }

    .work-options-container {
      position: absolute;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      height: 120px;
      width: 70vw;

      .work-digital-link, .work-illustration-link {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        padding: 0;
        background-color: rgba(60, 60, 60, 0);
        transition: all 0.25s cubic-bezier(0.165, 0.84, 0.44, 1);
      }

      .work-digital-link:hover, .work-illustration-link:hover {
        padding: 35px 50px;
        background-color: rgba(60, 60, 60, 1);
      }

      .work-digital-container, .work-illustration-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        z-index: 10;
      }

      .work-digital-link {
      // .work-digital-container {
        position: absolute;
        transform: translate(-50%, 0%) translate(-120px, 0%);
      }

      .work-options-divide-line {
        position: absolute;
        height: 100px;
        width: 1px;
        background-color: #FFF;

      }

      .work-illustration-link {
      // .work-illustration-container {
        position: absolute;
        transform: translate(50%, 0%) translate(120px, 0%);
      }

      .work-first-letter, .work-letters, .work-last-letter {
        font-family: 'Poppins', sans-serif;
        font-weight: 200;
        // letter-spacing: 2px;
        color: #FFF;
        text-transform: uppercase;
        margin: 0;
      }

      .work-first-letter {
        font-size: 80px;
        transform: translate(-2px, -28px);
        // letter-spacing: 2px;
        letter-spacing: 0.1rem;
      }

      .work-letters {
        font-size: 24px;
        letter-spacing: 0.12rem;
      }

      .work-last-letter {
        font-size: 80px;
        transform: translate(2px, 28px);
        // letter-spacing: 2px;
        letter-spacing: 0.1rem;
      }

    }
  }
}

.contact-container {
  background: linear-gradient(to bottom right, #868F96, #596164);

  .contact-links-container {
    margin-top: 60vh;

    .icons-img {
      height: 40px;
      width: 40px;
      margin-right: 60px;
      filter: brightness(0) invert(1);
    }
    .icons-img.last-icon {
      margin: 0 !important;
    }
  }

  .contact-bio-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;

    .portrait-container {
      margin-right: 60px;

      .portrait-img {
        width: 200px;
        height: 200px;
        border-radius: 200px;
      }
    }

    .contact-info-container {
      margin-left: 60px;

      h1, h2, a {
        color: #FFF;
        font-family: 'Poppins', sans-serif;
        letter-spacing: 1.7px;
      }

      h1 {
        font-size: 32px;
        font-weight: 300;
        margin-bottom: 20px;
      }

      .contact-email-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
      }

      h2 {
        font-size: 18px;
        font-weight: 200;
        margin-bottom: 0;
      }

      a {
        font-size: 18px;
        margin-left: 10px;
        font-weight: 300;
        text-decoration: underline;
        // color: rgb(93, 146, 249);
      }
    }
  }
}

// ============================================================
// Responsive
@media screen and (max-width: 1440px) and (min-width: 1024px) {
  .about-text-container {
    h1 {
      font-size: 24px !important;
      letter-spacing: 0.1rem !important;
    }
  }

  .work-content-container {
    height: 45vh !important;
  }

  .work-heading-container {
    transform: translate(-135%, -100%) translate(0, -86px) !important;
    h1 { font-size: 26px !important; }
  }

  .work-first-letter {
    font-size: 66px !important;
    transform: translate(-1.6px, -22px) !important;
  }

  .work-letters {
    font-size: 20px !important;
  }

  .work-last-letter {
    font-size: 66px !important;
    transform: translate(1.6px, 22px) !important;
  }

  .work-options-divide-line {
    height: 80px !important;
  }

  .work-digital-link {
    transform: translate(-50%, 0%) translate(-80px, 0%) !important;
  }

  .work-illustration-link {
    transform: translate(50%, 0%) translate(80px, 0%) !important;
  }

  .portrait-container {
    margin-right: 40px !important;
  }

  .contact-info-container {
    margin-left: 40px !important;
  }

  .portrait-img {
    width: 160px !important;
    height: 160px !important;
    border-radius: 160px !important;
  }

  .contact-info-container {
    h1 {
      font-size: 26px !important;
      margin-bottom: 15px !important;
    }

    .contact-email-container {
      margin-top: 15px !important;
    }

    h2 {
      font-size: 15px !important;
    }

    a {
      font-size: 15px !important;
      margin-left: 8px !important;
    }
  }

  .side-label-text {
    font-size: 16px !important;
    letter-spacing: 0.1rem !important;
  }

  .side-label-line {
    width: 70px !important;
    margin-left: 10px !important;
  }

  .right-shapes, .left-shapes {
    width: 150px !important;
    height: auto !important;
  }

  div[class*='corner-line-'] {
    width: 100px !important;
  }

  .diagonal-line-left, .diagonal-line-right, .work-diagonal-line-left, .work-diagonal-line-right {
    width: 60px !important;
    height: auto !important;
  }
}

@media screen and (max-width: 1024px) and (min-width: 768px) {
  .about-text-container {
    h1 {
      font-size: 22px !important;
      letter-spacing: 0.1rem !important;
    }
  }

  .work-content-container {
    height: 40vh !important;
  }

  .work-heading-container {
    transform: translate(-130%, -100%) translate(0, -86px) !important;
    h1 { font-size: 20px !important; }
  }

  .work-first-letter {
    font-size: 52px !important;
    transform: translate(-1.3px, -18px) !important;
  }

  .work-letters {
    font-size: 16px !important;
  }

  .work-last-letter {
    font-size: 52px !important;
    transform: translate(1.3px, 18px) !important;
  }

  .work-options-divide-line {
    height: 60px !important;
  }

  .work-digital-link {
    transform: translate(-50%, 0%) translate(-60px, 0%) !important;
  }

  .work-illustration-link {
    transform: translate(50%, 0%) translate(60px, 0%) !important;
  }

  .portrait-container {
    margin-right: 20px !important;
  }

  .contact-info-container {
    margin-left: 20px !important;
  }

  .portrait-img {
    width: 140px !important;
    height: 140px !important;
    border-radius: 140px !important;
  }

  .contact-info-container {
    h1 {
      font-size: 22px !important;
      margin-bottom: 10px !important;
    }

    .contact-email-container {
      margin-top: 10px !important;
    }

    h2 {
      font-size: 12px !important;
    }

    a {
      font-size: 12px !important;
      margin-left: 5px !important;
    }
  }

  .icons-img {
    width: 32px !important;
    height: 32px !important;
    margin-right: 40px !important;
  }

  .side-label-text {
    font-size: 14px !important;
    letter-spacing: 0.1rem !important;
  }

  .side-label-line {
    width: 60px !important;
    margin-left: 10px !important;
  }

  .right-shapes, .left-shapes {
    width: 130px !important;
    height: auto !important;
  }

  div[class*='corner-line-'] {
    width: 90px !important;
  }

  .diagonal-line-left, .diagonal-line-right, .work-diagonal-line-left, .work-diagonal-line-right {
    width: 50px !important;
    height: auto !important;
  }

  .shapes-left-container {
    padding-bottom: 20% !important;
  }

  .shapes-right-container {
    padding-top: 20% !important;
  }
}

@media screen and (max-width: 768px) and (min-width: 600px) {
  .about-text-container {
    h1 {
      font-size: 18px !important;
      letter-spacing: 0.1rem !important;
    }
  }

  .work-content-container {
    height: 40vh !important;
  }

  .work-heading-container {
    transform: translate(-130%, -100%) translate(0, -86px) !important;
    h1 { font-size: 20px !important; }
  }

  .work-first-letter {
    font-size: 52px !important;
    transform: translate(-1.3px, -18px) !important;
  }

  .work-letters {
    font-size: 16px !important;
  }

  .work-last-letter {
    font-size: 52px !important;
    transform: translate(1.3px, 18px) !important;
  }

  .work-options-divide-line {
    height: 60px !important;
  }

  .work-digital-link {
    transform: translate(-50%, 0%) translate(-60px, 0%) !important;
  }

  .work-illustration-link {
    transform: translate(50%, 0%) translate(60px, 0%) !important;
  }

  .portrait-container {
    margin-right: 20px !important;
  }

  .contact-info-container {
    margin-left: 20px !important;
  }

  .portrait-img {
    width: 140px !important;
    height: 140px !important;
    border-radius: 140px !important;
  }

  .contact-info-container {
    h1 {
      font-size: 22px !important;
      margin-bottom: 10px !important;
    }

    .contact-email-container {
      margin-top: 10px !important;
    }

    h2 {
      font-size: 12px !important;
    }

    a {
      font-size: 12px !important;
      margin-left: 5px !important;
    }
  }

  .icons-img {
    width: 32px !important;
    height: 32px !important;
    margin-right: 40px !important;
  }

  .side-label-text {
    font-size: 12px !important;
    letter-spacing: 0.1rem !important;
  }

  .side-label-line {
    width: 50px !important;
    margin-left: 8px !important;
  }

  .right-shapes, .left-shapes {
    width: 120px !important;
    height: auto !important;
  }

  div[class*='corner-line-'] {
    width: 70px !important;
  }

  .work-diagonal-line-left, .work-diagonal-line-right {
    display: none !important;
  }

  .diagonal-line-left, .diagonal-line-right {
    width: 45px !important;
    height: auto !important;
  }

  .home-random-shapes {
    display: none;
  }
}

@media screen and (max-width: 600px) and (min-width: 375px) {
  .about-text-container {
    h1 {
      font-size: 15px !important;
      letter-spacing: 0.1rem !important;
    }
  }

  .work-content-container {
    height: 60vh !important;
    align-items: flex-start !important;
  }

  .work-options-container {
    flex-direction: column !important;
    height: 100% !important;
  }

  .work-heading-container {
    transform: translate(0, -450%) !important;
    h1 { font-size: 16px !important; }
  }

  .work-first-letter {
    font-size: 41px !important;
    transform: translate(-1px, -13px) !important;
  }

  .work-letters {
    font-size: 12px !important;
  }

  .work-last-letter {
    font-size: 41px !important;
    transform: translate(1px, 13px) !important;
  }

  .work-options-divide-line {
    display: none !important;
  }

  .work-digital-link {
    position: relative !important;
    transform: translate(0%, -35%) translate(0, 0) !important;
  }

  .work-illustration-link {
    position: relative !important;
    transform: translate(0%, 35%) translate(0, 0) !important;
  }

  .portrait-container {
    margin-right: 0 !important;
    margin-bottom: 20px !important;
  }

  .contact-bio-container {
    flex-direction: column !important;
  }

  .contact-info-container {
    margin-left: 0 !important;
    margin-top: 20px !important;
  }

  .portrait-img {
    width: 140px !important;
    height: 140px !important;
    border-radius: 140px !important;
  }

  .contact-info-container {
    h1 {
      font-size: 20px !important;
      margin-bottom: 8px !important;
    }

    .contact-email-container {
      margin-top: 8px !important;
    }

    h2 {
      font-size: 12px !important;
    }

    a {
      font-size: 12px !important;
      margin-left: 5px !important;
    }
  }

  .icons-img {
    width: 28px !important;
    height: 28px !important;
    margin-right: 30px !important;
  }

  .side-label-text {
    font-size: 12px !important;
    letter-spacing: 0.1rem !important;
  }

  .side-label-line {
    width: 50px !important;
    margin-left: 8px !important;
  }

  .right-shapes, .left-shapes {
    width: 120px !important;
    height: auto !important;
  }

  div[class*='corner-line-'] {
    width: 70px !important;
  }

  .home-corner-lines, .home-random-shapes, .diagonal-line-left, .diagonal-line-right, .work-diagonal-line-left, .work-diagonal-line-right {
    display: none;
  }
}

@media screen and (max-width: 375px) {
  .about-text-container {
    h1 {
      font-size: 12px !important;
      letter-spacing: 0.1rem !important;
    }
  }

  .work-content-container {
    height: 60vh !important;
    align-items: flex-start !important;
  }

  .work-options-container {
    flex-direction: column !important;
    height: 100% !important;
  }

  .work-heading-container {
    transform: translate(0, -450%) !important;
    h1 { font-size: 14px !important; }
  }

  .work-first-letter {
    font-size: 41px !important;
    transform: translate(-1px, -13px) !important;
  }

  .work-letters {
    font-size: 12px !important;
  }

  .work-last-letter {
    font-size: 41px !important;
    transform: translate(1px, 13px) !important;
  }

  .work-options-divide-line {
    display: none !important;
  }

  .work-digital-link {
    position: relative !important;
    transform: translate(0%, -35%) translate(0, 0) !important;
  }

  .work-illustration-link {
    position: relative !important;
    transform: translate(0%, 35%) translate(0, 0) !important;
  }

  .portrait-container {
    margin-right: 0 !important;
    margin-bottom: 20px !important;
  }

  .contact-bio-container {
    flex-direction: column !important;
  }

  .contact-info-container {
    margin-left: 0 !important;
    margin-top: 20px !important;
  }

  .portrait-img {
    width: 140px !important;
    height: 140px !important;
    border-radius: 140px !important;
  }

  .contact-info-container {
    h1 {
      font-size: 20px !important;
      margin-bottom: 8px !important;
    }

    .contact-email-container {
      margin-top: 8px !important;
    }

    h2 {
      font-size: 10px !important;
      letter-spacing: 0.07rem !important;
    }

    a {
      font-size: 10px !important;
      margin-left: 5px !important;
      letter-spacing: 0.07rem !important;
    }
  }

  .icons-img {
    width: 26px !important;
    height: 26px !important;
    margin-right: 26px !important;
  }

  .home-side-label-container {
    transform: translate(0%, -50%) rotate(-90deg) translate(-50%, 150%) !important;
  }

  .side-label-text {
    font-size: 12px !important;
    letter-spacing: 0.1rem !important;
  }

  .side-label-line {
    width: 50px !important;
    margin-left: 8px !important;
  }

  .right-shapes, .left-shapes {
    width: 120px !important;
    height: auto !important;
  }

  div[class*='corner-line-'] {
    width: 70px !important;
  }

  .home-corner-lines, .home-random-shapes, .diagonal-line-left, .diagonal-line-right, .work-diagonal-line-left, .work-diagonal-line-right {
    display: none;
  }
}

@media screen and (max-height: 700px) {
  .contact-links-container {
    margin-top: 70vh !important;
  }
}
