.home-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home-corner-lines {
  div[class*='corner-line-'] {
    position: fixed;
    width: 120px;
    height: 1px;
    background-color: #FFF;
  }

  .corner-line-tl {
    top: 0;
    left: 0;
    transform: rotate(25deg);
    transform-origin: top left;
  }

  .corner-line-tr {
    top: 0;
    right: 0;
    transform: rotate(-25deg);
    transform-origin: top right;
  }

  .corner-line-br {
    bottom: 0;
    right: 0;
    transform: rotate(25deg);
    transform-origin: bottom right;
  }

  .corner-line-bl {
    bottom: 0;
    left: 0;
    transform: rotate(-25deg);
    transform-origin: bottom left;
  }
}

.home-side-label-container {
  position: fixed;
  top: 50%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transform: translate(0%, -50%) rotate(-90deg) translate(-50%, 200%);
  transform-origin: left;

  .side-label-text {
    display: inline-block;
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    font-size: 18px;
    letter-spacing: 1.7px;
    color: #FFF;
    text-transform: uppercase;
  }

  .side-label-line {
    display: inline-block;
    width: 80px;
    height: 1px;
    background-color: #FFF;
    margin-left: 15px;
  }
}

.home-random-shapes {
  position: fixed;
  width: 100%;
  height: 100%;

  .shapes-left-container {
    position: absolute;
    width: 50%;
    height: 100%;
    left: 0;
    padding-bottom: 8%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
  }

  .shapes-right-container {
    position: absolute;
    width: 50%;
    height: 100%;
    right: 0;
    padding-top: 8%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
  }
}

.about-container {
  background: linear-gradient(to bottom right, #21D4FD, #B721FF);

  .about-animation-container {
    display: inline-block;
    position: relative;
  }

  .diagonal-line-left {
    position: absolute;
    transform: translate(-120%, -120%);
    transform-origin: center;
  }

  .diagonal-line-right {
    position: absolute;
    right: 0;
    transform: translate(120%, 20%);
    transform-origin: center;
  }

  .about-text-container {
    h1 {
      font-family: 'Poppins', sans-serif;
      font-weight: 200;
      font-size: 28px;
      letter-spacing: 2.5px;
      color: #FFF;
      text-transform: uppercase;
    }
  }
}

.work-container {
  background: linear-gradient(to bottom left, #48C6EF, #6F86D6);

  .work-animation-container {
    display: inline-block;
    position: relative;
  }

  .work-diagonal-line-left {
    position: absolute;
    transform: translate(0%, -120%);
    transform-origin: center;
  }

  .work-diagonal-line-right {
    position: absolute;
    right: 0;
    transform: translate(0%, 20%);
    transform-origin: center;
  }

  .work-content-container {
    height: 50vh;
    width: 70vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;

    .work-heading-container {
      transform: translate(-160%, -100%) translate(0, -100px);;

      h1 {
        font-family: 'Poppins', sans-serif;
        font-weight: 200;
        font-size: 32px;
        letter-spacing: 2.5px;
        color: #FFF;
        text-transform: uppercase;
      }
    }

    .work-options-container {
      position: absolute;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      height: 120px;
      width: 70vw;

      .work-digital-link, .work-illustration-link {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        padding: 0;
        background-color: rgba(60, 60, 60, 0);
        transition: all 0.25s cubic-bezier(0.165, 0.84, 0.44, 1);
      }

      .work-digital-link:hover, .work-illustration-link:hover {
        padding: 35px 50px;
        background-color: rgba(60, 60, 60, 1);
      }

      .work-digital-container, .work-illustration-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        z-index: 10;
      }

      .work-digital-link {
      // .work-digital-container {
        position: absolute;
        transform: translate(-50%, 0%) translate(-120px, 0%);
      }

      .work-options-divide-line {
        position: absolute;
        height: 100px;
        width: 1px;
        background-color: #FFF;

      }

      .work-illustration-link {
      // .work-illustration-container {
        position: absolute;
        transform: translate(50%, 0%) translate(120px, 0%);
      }

      .work-first-letter, .work-letters, .work-last-letter {
        font-family: 'Poppins', sans-serif;
        font-weight: 200;
        letter-spacing: 2px;
        color: #FFF;
        text-transform: uppercase;
        margin: 0;
      }

      .work-first-letter {
        font-size: 80px;
        transform: translate(-2px, -28px);
      }

      .work-letters {
        font-size: 24px;
      }

      .work-last-letter {
        font-size: 80px;
        transform: translate(2px, 28px);
      }

    }
  }
}

.contact-container {
  background: linear-gradient(to bottom right, #868F96, #596164);

  .contact-links-container {
    margin-top: 60vh;

    .icons-img {
      height: 40px;
      width: 40px;
      margin-right: 60px;
      filter: brightness(0) invert(1);
    }
    .icons-img.last-icon {
      margin: 0 !important;
    }
  }

  .contact-bio-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;

    .portrait-container {
      margin-right: 60px;

      .portrait-img {
        width: 200px;
        height: 200px;
        border-radius: 200px;
      }
    }

    .contact-info-container {
      margin-left: 60px;

      h1, h2, a {
        color: #FFF;
        font-family: 'Poppins', sans-serif;
        letter-spacing: 1.7px;
      }

      h1 {
        font-size: 32px;
        font-weight: 300;
        margin-bottom: 20px;
      }

      .contact-email-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
      }

      h2 {
        font-size: 18px;
        font-weight: 200;
        margin-bottom: 0;
      }

      a {
        font-size: 18px;
        margin-left: 10px;
        font-weight: 300;
        text-decoration: underline;
        // color: rgb(93, 146, 249);
      }
    }
  }
}
